*{ 
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    position: absolute;
}

footer{
    width: 100vw;
    height: 25px;
    background-color: #0A3871;
    color: white;
    text-align: center;
}

row{
    display: flex;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.logo_alura{
    padding-top: 20px;
}

#textoinserido{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-size: 2rem;
    font-weight: 400;
    color: #0A3871;
    overflow: hidden;
    resize: none;
    border: none;
    background-color: inherit;
}

#textoinserido::placeholder{
    color: #0A3871;
}



.final-pagina p {
    margin-left: 10%;
}

.botoes input{
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    font-weight: 400px;
    font-size: 1rem;
    align-items: center;
    width: 30%;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: inherit;
    align-items: center;
    gap: 15px;
}

.btn-criptografar{
    background-color:#0A3871;
    color: white;
}

.btn-descriptografar{
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}

.resposta{
    padding: 10px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px 8px #00000028;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    width: 80%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

@media (min-width:768px){
    .resposta{
        height: 85vh;
    }

    .com-texto p {
        height: 650px;
    }
}

.resposta img{
    width: 90%;
    height: 304px;
    /* margin-top: 200px; */
}

.resposta .t-1{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 28.8px;
    color: #343A40;
}

.resposta .t-2{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #495057;
}

.com-texto{
    display: none;
    height: inherit;

}

#texto-inserido-invalido{
    display: none;
}

.com-texto p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 36px;
    padding: 40px;
    text-align: left;
}


.com-texto button{
    width: 90%;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    font-weight: 400px;
    font-size: 1rem;
    align-items: center;
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    margin-top: auto;
    bottom: 0;
    align-self: flex-end;
    
}

#texto-inserido-invalido{
    flex-direction: column;
}


@media(max-width:768px){
    .logo_alura{
        width: 20%;
        height: 20%;
    
    }

    form{
        height: 70vh;
        justify-content: space-between;
    }
    
    

    
    .final-pagina p {
        margin-left: 5%;
        width: 80%;
    }
    
    .botoes input{
        width: 80%;
    }
    
    
    .resposta img{
        display: none;
    }
    
    .resposta{
        margin-top: 10px;
        width: 95vw;

    }
    
    
    
    .com-texto{
        display: none;
        justify-content: space-between;
    }

    .com-texto button {
        width: 80vw;
    }
}


@media(max-width:375px){
    

    .botoes{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        width: inherit;
        gap: 15px;
        align-items: center;
    }
}